node_modules
FrameShifter.exe

build/*
!build/FrameShifter.zip

public/*

!public/dev-scanner/
!public/dev-scanner/**

!public/edcss/
!public/edcss/**

!public/frameshifter/
!public/frameshifter/**

!public/icons/
!public/icons/**

!public/status-panel/
!public/status-panel/**

!public/welcome/
!public/welcome/**

