#dev-scanner {
    padding:20px;
}

.dev-scanner-collapse-next {
    cursor: pointer;
}

.dev-scanner-output {
    height:100px;
    width:100%;
    margin:10px 0;
    border:1px solid green;
    overflow-y:scroll;
}

.dev-scanner-output.collapsed {
    height:20px;
    overflow: hidden;
}