#dev-scanner {
    height:100%;
    padding:0 20px;
    overflow-y: scroll;
}

.dev-scanner-collapse-next {
    cursor: pointer;
}

.dev-scanner-collapse-next:hover + .dev-scanner-output {
    background:rgba(255,255,255,0.1);
    border:1px solid #eee;
}

.dev-scanner-output {
    height:auto;
    max-height:none;
    margin:10px 0;
    border:1px solid #999;
    overflow-y:scroll;
    resize:vertical;
    color:#999;
}

.dev-scanner-output.collapsed {
    max-height:35px;
    overflow: hidden;
    resize:none;
}