#dev-scanner.standalone {
    width:100vw;
    height:100vh;
}

.dev-scanner-collapse-next {
    cursor: pointer;
    user-select: none;
}

.dev-scanner-collapse-next:hover + .dev-scanner-output {
    background:var(--bg-dark);
    border:1px solid var(--text);
}

.dev-scanner-output {
    height:auto;
    max-height:none;
    margin:10px 0;
    border:1px solid var(--text-light);
    overflow-y:scroll;
    resize:vertical;
    color:#999;
    background:var(--bg);
}

.dev-scanner-output.collapsed {
    max-height:65px;
    overflow: hidden;
    resize:none;
}